@import "../../../scss/base-components";


.list-item-label {
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.list-item-content {
  text-align: right;
  svg {
    height: 30px;
    width: auto;
    display: inline-block;
    padding-inline-start: 2rem;
  }
}