@import "../../../scss/base-components";

.project-card {

  .project-card_image {
    padding-block-end: 2rem;
    @include media-breakpoint-up(md) {
      padding-block-end: 0;
    }

    img {
      border: solid 10px $old-mauve;
    }
  }

  .project-card_body {
    .project-card_body__list {
      font-family: $font-family-svarga-regular;
      font-size: $font-md;
      @include media-breakpoint-up(lg) {
        font-size: $font-xl;

      }
    }

    .project-card_body--title {
      text-align: center;
      padding-block-end: 1rem;
    }
  }
}