@import "../../../scss/base-components";


footer {
  //.wrapper-footer-image {
  //  height: 600px;
  //  overflow: hidden;
  //
  //  .footer-image {
  //    margin-block-start: -727px;
  //  }
  //}

  section {
    padding-block-end: 0.5rem;
    padding-block-start: 2.5rem;

    .footer-title {
      padding-block-end: 2rem;
      font-size: 4rem;
      @include media-breakpoint-up(md) {
        font-size: 5rem;

      }
    }

    .footer-contact {
      font-family: $font-family-aqala-display;
      font-size: 1.8rem;
      padding-block-end: 1rem;
      @include media-breakpoint-up(md) {
        font-size: 2.25rem;
      }

      p {
        margin-bottom: 0;
      }
    }

    .footer-copyright {
      color: $mid-dark-green;
      font-size: $h6-font-size;
      font-family: $font-family-aqala-display;
      @include media-breakpoint-up(md) {
        font-size: $h4-font-size;
      }
    }

    .footer-contact-phone {
      color: black;
      text-decoration: none;
    }

    .footer-social {
      padding-block-end: 1rem;

      a,
      a:hover {
        color: $black;
      }
    }

    .footer-logo {
      padding-block-end: 2rem;

      svg {
        height: 100px;
        display: inline-block;
        @include media-breakpoint-up(md) {
          height: 150px;

        }
      }
    }
  }
}