@import "../../../scss/base-components";

.page-wrapper#about,
.page-wrapper#pizzaapp {
  .navbar {
    .navbar-nav .nav-link,
    .navbar-brand div {
      color: $old-mauve !important;
    }
  }
}

//.page-wrapper#pizzaapp {
//  .navbar {
//    background-color: #E0CFD5 !important;
//  }
//  }
.page-wrapper {
  .navbar {
    z-index: 10;
    height: 40px;
    position: sticky;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      height: 50px;
    }

    .container {
      a {
        font-size: $font-xl;
        font-weight: bold;
        color: $primary;
        font-family: $font-family-aqala-display;

        @include media-breakpoint-up(md) {
          font-size: $h4-font-size;
        }
      }
    }
  }
}

