@import "../scss/base-components";


.header-about {
  font-size: $font-md;
  margin-top: -#{$navbar-height};
  @include media-breakpoint-up(md) {
    font-size: $font-lg;
    margin-top: 0;
  }
  @include media-breakpoint-down(md) {
    background-color: transparent !important;
  }

  .container {
    .row {
      @include media-breakpoint-down(md) {
        position: relative;
      }

      .header-about__image {
        @include media-breakpoint-down(md) {
          padding: 0;
        }
      }

      .header-about__text {
        @include media-breakpoint-down(md) {
          position: absolute;
          bottom: 0;
          padding-block-end: 2rem;
        }
        @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h1 {
          color: $primary;
          font-size: 5rem;
          @include media-breakpoint-up(md) {
            color: $old-mauve;
            font-size: 7rem;
          }
        }

        .lead {
          font-size: 1.8rem;
          color: $secondary;
          font-family: $font-family-aqala-display;
          @include media-breakpoint-up(md) {
            color: $phthalo-green;
          }
          @include media-breakpoint-up(md) {
            font-size: 2.5rem;
          }
        }

        img {
          max-width: 380px;
        }
      }
    }
  }
}

.dn-see-my-cv {
  padding-block-end: 10rem;

  .dn-btn-wrapper {
    .dn-btn-outline-old-mauve {
      font-family: $font-family-aqala-display;

      font-size: 2.3rem;
      @include media-breakpoint-up(sm) {
        font-size: 3rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }
      svg {
        display: none;
      }
    }
    hr {
      margin-block-end: 0;
    }
  }
}


.dn-education {
  font-family: $font-family-svarga-regular;
  font-size: 1.5rem;

  &-group {
    padding-block-end: 2.5rem;
    font-size: $font-sm;
    @include media-breakpoint-up(md) {
      font-size: $font-lg;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}

.dn-list-group-wrapper {
  .dn-list-group {
    font-family: $font-family-svarga-regular;
    padding-block-end: 2rem;

    &__title {
      position: relative;
      padding-block-end: 0.8rem;

      &:after {
        content: '';
        display: block;
        border-block-start: $may-green solid 1px;
        width: 35px;
      }
    }

    &__ul {
      li {
        font-size: $font-sm;
        @include media-breakpoint-up(md) {
          font-size: $font-lg;
        }

        &::marker {
          font-size: 1.1rem;
        }
      }
    }
  }
}