@import "../scss/base-components";


.header-about {
  font-size: $font-md;
  margin-top: -#{$navbar-height};
  @include media-breakpoint-up(md) {
    font-size: $font-lg;
    margin-top: 0;
  }
  @include media-breakpoint-down(md) {
    background-color: transparent !important;
  }

  .container {
    .row {
      @include media-breakpoint-down(md) {
        position: relative;
      }

      .header-about__image {
        @include media-breakpoint-down(md) {
          padding: 0;
        }
        img {
          @include media-breakpoint-down(md) {
            margin-block-start: 50px;
          }
        }
      }

      .header-about__text {
        @include media-breakpoint-down(md) {
          position: absolute;
          bottom: 0;
          //padding-block-end: 2rem;
        }
        @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h1 {
          color: $primary;
          font-size: 5rem;
          line-height: 1;
          margin: 0;
          @include media-breakpoint-up(md) {
            font-size: 7rem;
          }
        }

        .lead {
          font-size: 1.8rem;
          color: $primary;
          font-family: $font-family-aqala-display;
          @include media-breakpoint-up(md) {
            font-size: 2.5rem;
          }
        }

        svg {
          margin-inline: auto;
          display: none;
          @include media-breakpoint-up(md) {
            display: block;

          }
        }
      }
    }
  }
}

.dn-see-my-cv {

  .dn-btn-wrapper {
    .dn-btn-outline-old-mauve {
      //font-family: $font-family-aqala-display;

      font-size: 1.8rem;
      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }
    }
    hr {
      margin-block-end: 0;
    }
  }
}


.dn-education {
  font-family: $font-family-svarga-regular;
  font-size: 1.5rem;

  &-group {
    padding-block-end: 2.5rem;
    font-size: $font-sm;
    @include media-breakpoint-up(md) {
      font-size: $font-lg;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}

.dn-list-group-wrapper {
  .dn-list-group {
    font-family: $font-family-svarga-regular;
    padding-block-end: 2rem;

    &__title {
      position: relative;
      padding-block-end: 0.8rem;

      &:after {
        content: '';
        display: block;
        border-block-start: $may-green solid 1px;
        width: 35px;
        margin-block-start: 0.5rem;
      }
    }

    &__ul {
      li {
        font-size: $font-sm;
        @include media-breakpoint-up(md) {
          font-size: $font-lg;
        }

        &::marker {
          font-size: 1.1rem;
        }
        svg {
          height: 25px;
          width: auto;
          display: inline-block;
          margin-inline-start: 1rem;
        }
      }
    }
  }
}