@import "../scss/base-components";

//#E00000 Rosso Corsa (RED)
//#FFB60A Honey Yellow
//#058E3F Spanish Green (GREEN)
//#F7BFBF Rosso Corsa Light (PINK)
//#C1E3CF Spanish Green Light (LIGHT GREEN)

//$project-red:#E00000;
//$project-yellow:#FFB60A;
//$project-green:#058E3F;
//$project-pink:#F7BFBF;
//$project-light-green:#C1E3CF;


.page-project {
  .masthead-wrapper {
    background: linear-gradient(0deg, $project-green, $white);

  }

  font-size: $font-sm;
  @include media-breakpoint-up(md) {
    font-size: $font-lg;
  }

  .title-section {
    color: $black;
    @include media-breakpoint-down(md) {
      padding-block-end: 2rem;
    }
  }

  .page-project-highlight {

    .wrapper-list {
      max-width: 700px;
      margin-inline: auto;

      .project-card_body__list {
        font-size: $font-xl;

        .list-item-content {
          @include media-breakpoint-up(md) {
            text-align: left;
          }

        }
      }
    }
  }

  .about-section {
    //font-size: $font-md;

    .row {
      align-items: center;

      .col-12 {
        &:first-child {
          @include media-breakpoint-down(md) {
            margin-block-end: 4rem;
          }
        }

        &:last-child {
          @include media-breakpoint-down(md) {
            background: $white;
            padding-block-end: 4rem;
            margin-block-end: -4rem;
          }

          .title-section {
            padding-block-start: 4rem;
            @include media-breakpoint-up(md) {
              padding-block-start: 0;
            }
          }
        }

        ol {
          li:not(:last-child) {
            padding-block-end: 1.5rem;
          }
        }
      }
    }
  }

  .user-personas-section {
    .user-personas-section-person {
      &:first-child {
        @include media-breakpoint-down(lg) {
          padding-block-end: 4rem;
        }
      }
      .user-personas-section-person-title {
        font-family: $font-family-svarga-regular;
        font-size: $font-xl;
      }
      dt {
        font-weight: normal;
        text-decoration: underline;
      }
      img {
        border-radius: 50%;
      }
    }
  }

  .competitive-analysis-section {
    .competitive-analysis-section-title {
      h3 {
        padding-block-end: 0;
      }

      h4 {
        padding-block-end: 2rem;
      }
    }

    .competitive-analysis-section-images {
      padding-block-end: 4rem;
    }

    .competitive-analysis-section-description {
      padding-block-end: 4rem;
    }

  }

  .key-questions-section,
  .research-process-section,
  .itineration-section,
  .quote-section,
  .met-section,
  .takeaweys-section,
  .final-prototype-section {

    .section-wrapper {
      max-width: 700px;
      margin: auto;
    }
  }

  .before-after-section {
    .container {
      .row {
        padding-block-end: 4rem;
      }
    }
  }

  .quote-section {
    position: relative;

    .svg-inline--fa {
      color: $white;
      font-size: 10rem;
      position: absolute;
      z-index: 0;

      @include media-breakpoint-up(lg) {
        font-size: 16rem;
      }
      &.fa-quote-left {
        top: -20px;
        left: 15px;
        @include media-breakpoint-up(md) {
          left: 5%;
        }
        @include media-breakpoint-up(lg) {
          left: 15%;
        }
      }

      &.fa-quote-right {
        bottom: -20px;
        right: 15px;
        @include media-breakpoint-up(md) {
          right: 5%;
        }
        @include media-breakpoint-up(lg) {
          right: 15%;
        }
      }
    }

    .container {
      z-index: 10;
      position: relative;

      .quote-author {
        font-size: $font-md;
        @include media-breakpoint-up(md) {
          font-size: $font-xl;
        }
      }
    }

  }
  .final-prototype-section {
    a {
      color: inherit;
    }
  }
}