@import "../../../scss/base-components";

.masthead {
  height: 100vh;
  margin-top: -40px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    margin-top: -50px;
  }

  .masthead-filter {
    //background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.1) 100%);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 2%, rgba(0, 0, 0, 0.1) 40%);
  }

  .container {
    .row {
      .col-12 {
        h1 {
          line-height: 1;
        }

        .lead {
          font-family: $font-family-aqala-display;
          @include media-breakpoint-down(md) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}